@media (min-width: 768px)  
    {#cntr-aln {
        margin-left: 180px;
        }}
@media (min-width: 768px)  
    {#cntr-aln1 {
        margin-left: 340px;
        }}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.hamara_div{
    z-index: 10000;
    position: absolute;
    display: block;
}

#animation{
   transform-origin: top;
   /* transform: translateY(25.3vh) translateX(38vw) rotate(150deg); */
   margin-left: 58vw;
   z-index: 999;
   display: block;
   position: absolute;
   margin-top: -44.9vh;
   animation: 12s fall infinite linear;
}

@keyframes fall {
    0% {
        transform: scale(1);
    }
    8%{
        transform: scale(1);
    }
    16% {
        transform: translateY(39.3vh) rotate(127deg);
    }
    27% {
        transform: translateY(39.3vh) rotate(127deg);
    }
    28% {
        transform: translateY(39.3vh) rotate(150deg);
    }
    30% {
        transform: translateY(39.3vh) rotate(150deg);
    }
    58% {
        transform: translateX(22.2vw) translateY(39.3vh) rotate(150deg);
    }
    69% {
        transform: translateX(27.58vw) translateY(28.5vh) rotate(150deg);
    }
    72% {
        transform: translateX(28.8vw) translateY(31.1vh) rotate(150deg);
    }
    77% {
        transform: translateX(31.5vw) translateY(24.5vh) rotate(150deg);
    }
    81% {
        transform: translateX(33.3vw) translateY(28.7vh) rotate(150deg);
    }
    88% {
        transform: translateX(36vw) translateY(20.2vh) rotate(150deg);
    }
    93% {
        transform: translateX(38vw) translateY(25.3vh) rotate(150deg);
    }
    100% {
    transform: translateX(38vw) translateY(25.3vh) rotate(150deg);
    }
    
}

#pathAnimation {
margin-left: 59.5vw;
margin-top: 75vh;
fill: none;
stroke: #fff;
stroke-width: 1px;
stroke-dasharray: 800;
stroke-dashoffset: 800;
animation: dash 12s linear forwards infinite;

}

path {
    
}

@keyframes dash {
    0% {
        stroke-dashoffset: 800;
    }
    30% {
        stroke-dashoffset: 800;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

#rcorners3 {
    border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px; 
    width: 3000px;
    height: 4000px; 
}