svg {
  position: relative;
  display: block;
  top: 0;
  bottom: 0px;
  width: 55%;
}

.right_graphic {
  position: relative;
  display: block;
  top: 0;
  bottom: 0px;
  width: 55%;
}

#mentoring, #grandfinale {
   display: -webkit-inline-box;
   padding-left: 10%;
   padding-right: 10%;
}

#registration, #networking {
   display: -webkit-inline-box;
   padding-left: 10%;
 }

 /*
 .registration_content{
 display: block;
 position: relative;

 /*display: inline-block;
 margin-left: 100px;
 margin-right: 100px;
 text-align:center;}*/

.model_content_div{
   width: 45%;
   text-align: center;
}

@media screen and (max-width:800px){
	.model_content_div {
    display: inline-block;
    text-align:center;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
   }
  #registration, #mentoring, #networking, #grandfinale {
    display: block;
    position: relative;
    margin: auto;
    padding: 0;
  }
  svg, .right_graphic {
    width: 70%;
    margin:auto;
      padding: 0;
  }
    .model_content {
          font-size: 1.8rem; !important;
        color: white;
    }
}

.drawings {
   position: relative;
}

.highlight_reg, .highlight_men, .highlight_net, .highlight_gf {
   opacity: 0;
/*  animation: colour 11s linear;*/
}

@keyframes colour{
    0%{
        opacity: 0;
    }
    15%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

.path_reg, .path_men, .path_net, .path_gf{
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
/*  animation: draw 11s linear;*/
}

@keyframes draw {
    0%{
        stroke-dashoffset:1000;
    }
    100%{
        stroke-dashoffset:0;
    }
}

.path_slow_reg, .path_slow_men, .path_slow_net, .path_slow_gf {
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
/*  animation: draw_slow 14s linear;*/
}

@keyframes draw_slow {
    0%{
        stroke-dashoffset:1000;
    }
    100%{
        stroke-dashoffset:0;
    }
}

.path_fast_reg, .path_fast_men, .path_fast_net, .path_fast_gf {
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
/*  animation: draw_fast 7s linear;*/
}

@keyframes draw_fast {
    0%{
        stroke-dashoffset:1000;
    }
    100%{
        stroke-dashoffset:0;
    }
}

.path_dash_reg, .path_dash_men{
  opacity: 0;
  stroke-dashoffset: 0;
  stroke-dasharray: 50;
/*  animation: draw_dash 6s linear;*/
}

@keyframes draw_dash {
    0%{
        stroke-dashoffset:50;
        opacity: 1;
    }
    100%{
        stroke-dashoffset:0;
        opacity: 1;
    }
}
